<html>

    <head>
    {% block head %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
            <title>{% block title %}{% endblock %}-Messenger</title>
    {% endblock %}
    </head>

    <body>
        <div class="container">
          <div class = "row">
              {% block menu %}
              {% if is_granted('ROLE_USER') %}
                  <div class = "span10">
                      <ul class="nav nav-pills">
                          <li {% if app.request.get('_route') == 'trivia_messenger_profile' %} class="active"{% endif %}><a href = "{{ path('trivia_messenger_profile') }}"> Profile </a> </li>
                          <li {% if app.request.get('_route') == 'trivia_messenger_new' %} class="active"{% endif %}><a href = "{{ path('trivia_messenger_new') }}" >New Messages</a></li>
                          <li {% if app.request.get('_route') == 'trivia_messenger_sent' %} class="active"{% endif %}><a href ="{{ path('trivia_messenger_sent') }}">Sent Messages</a></li>
                      </ul>
                  </div>
                  <div class="span2">
                      <ul class="nav nav-pills">
                          <li><a href="/logout">Logout</a></li>
                      </ul>
                  </div>
              {% else %}
                    <div class="span10">
                        <ul class="nav nav-pills">
                            <li {% if app.request.get('_route') == 'trivia_messenger_login' %} class="active"{% endif %}><a href="{{ path('trivia_messenger_login') }}">Login</a> </li>
                            <li {% if app.request.get('_route') == 'trivia_messenger_register' %} class="active"{% endif %}><a href="{{ path('trivia_messenger_register') }}">Register</a></li>
                        </ul>
                    </div>
              {% endif %}
              {% endblock %}
          </div>


          {% block content %}
              {% if app.user.getEmailToken() != null %}
                <div class="row"><span class="alert-block">You have not yet verified you email! You won't be able to send messages until that. <a href="{{ path('trivia_messenger_verify'), /app.user.getEmailToken() }}">Resend?</a></span></div>
              {% endif %}
          {% endblock %}

        </div>
    </body>
</html>
