{% extends 'TriviaMessengerBundle:Messenger:base.html.twig' %}
{% block title %}New message{% endblock %}
{% block head %}


    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    {{ parent() }}
{% endblock %}
{% block content %}
    <form method="post" {{ form_enctype(form) }} action="{{ path('trivia_messenger_create') }}">
        {{ form_errors(form) }}

        {{ form_row(form.toUser, { 'type':'text'}) }}
        {{ form_row(form.text) }}
        {{ form_rest(form) }}
        <br />
        <input type="submit" class="btn" value="Send message!">
    </form>
    <div class="btn"><a href="{{ path('trivia_messenger_homepage') }}">Back to main</a></div>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script>
        jQuery(document).ready(function($){
            $('#form_toUser').autocomplete({source:Routing.generate('messenger_autocomplete'), minLength:2});
        });
    </script>
{% endblock %}
