{% extends '::base.html.twig' %}
{% block title %}New message{% endblock %}
{% block content %}
    <form action="{{ path('messages/create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}


        {{ form_row(form.recipient) }}
        {{ form_row(form.text) }}

        {{ form_rest(form) }}

        <input type="submit" />
    </form>
    <a href="/index">Back to main</a>
{% endblock %}
