{% extends 'TriviaMessengerBundle:Messenger:base.html.twig' %}

{% block title %}Main{% endblock %}
{% block content %}

 {% if is_granted('ROLE_USER') %}
    {% if pagination is empty %}
         <p>You have sent nothing yet!</p>
    {% else %}
    <table class="table">
         {% for message in pagination %}
               <tr {% if not message.isRead %}class="success" {% endif %}>
                   <td><b>{% if message.getFromUser() != null %}{{ message.getFromUser().getUsername() }} {% endif %} </b>to <b>{{ message.getToUser().getUsername() }}</b></td>
                   <td>{{ message.getText() }}</td>
                   <td>{{ message.getCreatedAt()|date('Y-m-d H:i:s') }}</td>
                   <td><a href="messages/view/{{ message.id }}">View</a></td>
               </tr>

         {% endfor %}
    </table>
    <div class="navigation">
         {{ knp_pagination_render(pagination) }}
    </div>
    <br />
    <div class='btn'><a href="{{ path('trivia_messenger_create') }}">Create new message</a></div>


     {% endif %}
 {% else %}
     {% if error %}
         <div>{{ error.message }}</div>
     {% endif %}

     <form action="{{ path('trivia_messenger_login_check') }}" method="post">
         <label for="username">Username:</label>
         <input type="text" id="username" name="_username" value="{{ last_username }}" />

         <label for="password">Password:</label>
         <input type="password" id="password" name="_password" />
         <input type="hidden" name="_target_path" value="/messages" />
         <br />
         <button type="submit" class="btn">login</button>
     </form>
 {% endif %}
{% endblock %}
