{% extends 'TriviaMessengerBundle:Messenger:base.html.twig' %}
{% block title %}Profile{% endblock %}
{% block content %}
    {{ parent() }}
    <table class="table">

        <tr> <td>Username : {{ app.user.getUsername() }}</td></tr>
        <tr><td>Email : {{ app.user.getEmail() }}</td></tr>
        <tr><td>Personal info : I am a banana</td></tr>

    </table>
    <form method="post" {{ form_enctype(form) }} legend="Change your email">

        {{ form_row(form.email) }}
        <input type="submit" />
    </form>

    <div class='btn'><a href="{{ path('trivia_messenger_homepage') }}">Back to main</a></div>

{% endblock %}
