{% extends '::base.html.twig' %}
{% block title %}New message{% endblock %}
{% block content %}
    <form action="{{ path('register') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}

        {{ form_rest(form) }}

        <input type="submit" />
    </form>
{% endblock %}
