{% extends 'TriviaMessengerBundle:Messenger:base.html.twig' %}
{% block title %}Register{% endblock %}
{% block content %}
    <form action="/messages" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}

        {{ form_rest(form) }}

        <input type="submit" />
    </form>
{% endblock %}
