{% extends 'TriviaMessengerBundle:Messenger:base.html.twig' %}
{% block title %}Register{% endblock %}
{% block content %}
    <form method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.username, { 'type':'text','attr':{'placeholder': "Your Username",}}) }}
        {{ form_row(form.email, { 'type':'email','attr':{'placeholder': "Your Email",}}) }}
        {{ form_row(form.password.first, { 'type':'password','attr':{'placeholder': "password", 'label': "Enter your password:"}}) }}
        {{ form_row(form.password.second, { 'type':'password', 'attr':{'placeholder': "repeat your password", 'label': "Repeat password"}}) }}

        {{ form_rest(form) }}
        <br />
        <input type="submit" class="btn">
    </form>
{% endblock %}
