{% extends 'TriviaMessengerBundle:Messenger:base.html.twig' %}


{% block title %}Sent Messages{% endblock %}


{% block content %}
    {% if is_granted('ROLE_USER') %}
        <table class="table">
            {% for message in pagination %}
                <tr>
                    <td><b>{% if message.getFromUser() != null %}{{ message.getFromUser().getUsername() }} {% endif %} </b>to <b>{{ message.getToUser().getUsername() }}</b></td>
                    <td>{{ message.getText() }}</td>
                    <td><a href="messages/view/{{ message.id }}">View</a></td>
                </tr>

            {% endfor %}
        </table>
        <br />
        <div class='btn btn-success'><a href="{{ path('trivia_messenger_create') }}">Create new message</a></div>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}
