{% extends 'TriviaMessengerBundle:Messenger:base.html.twig' %}


{% block title %}Sent Messages{% endblock %}


{% block content %}
    {% if is_granted('ROLE_USER') %}
       {% if pagination is empty %}
        <p>You have yet sent nothing!</p>
        <div class='btn'><a href="{{ path('trivia_messenger_create') }}">Create new message</a></div>
        <div class='btn'><a href="{{ path('trivia_messenger_homepage') }}">Back to main</a></div>
        <br />
        <div class='btn btn-success'><a href="{{ path('trivia_messenger_create') }}">Create new message</a></div>
       {% else %}
        <table class="table">
            {% for message in pagination %}
                <tr>
                    <td><b>{% if message.getFromUser() != null %}{{ message.getFromUser().getUsername() }} {% endif %} </b>to <b>{{ message.getToUser().getUsername() }}</b></td>
                    <td>{{ message.getText() }}</td>
                    <td><a href="view/{{ message.id }}">View</a></td>
                </tr>

            {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        <br />
        {% if app.user.getEmailToken() = null %}<div class='btn'><a href="{{ path('trivia_messenger_create') }}">Create new message</a></div>{% endif %}
        <br/>
        <div class='btn'><a href="{{ path('trivia_messenger_homepage') }}">Back to main</a></div>

      {% endif %}
    {% endif %}
{% endblock %}
