{% extends 'TriviaMessengerBundle:Messenger:base.html.twig' %}
{% block title %}View message {% endblock %}
{% block content %}
    {% if message.getFromUser() != null %} <td> from <b>{{ message.getFromUser().getUsername() }}</b>{%  endif %} to <b>{{ message.getToUser().getUsername() }}</b></td>
    <td>{{ message.getText() }}</td>
    <br />
    <div class="btn"><a href="{{ path('trivia_messenger_create') }}">Reply with a new message</a></div>
    <br />
    <div class="btn"><a href="{{ path('trivia_messenger_homepage') }}">Back to main</a></div>
{% endblock %}